<h1>Polls</h1> <p> View the most recent polls from various aggregators and sources. </p> <!-- <pre>{{status | json}}</pre> --> <p><a class="btn btn-lg btn-success" ng-click="refreshAll()">Refresh All <span class="glyphicon glyphicon-download"></span></a></p> <ul class="list-group"> <li class="list-group-item"> <a ng-href="#/rcp">Real Clear Politics</a> <span class="glyphicon" ng-class="{
        'glyphicon-refresh glyphicon-refresh-animate': status.$getRecord('rcp')['$value'] === 'loading',
        'glyphicon-ok text-success': status.$getRecord('rcp')['$value'] === 'complete',
        'glyphicon-remove text-danger': status.$getRecord('rcp')['$value'] === 'error',
        'glyphicon-refresh glyphicon-refresh-animate': status.$getRecord('rcp') == undefined
        }"> </span> </li> <li class="list-group-item"> <a ng-href="#/hp">Huffpost Pollster</a> <span class="glyphicon" ng-class="{
        'glyphicon-refresh glyphicon-refresh-animate': status.$getRecord('hp')['$value'] === 'loading',
        'glyphicon-ok text-success': status.$getRecord('hp')['$value'] === 'complete',
        'glyphicon-remove text-danger': status.$getRecord('rcp')['$value'] === 'error',
        'glyphicon-refresh glyphicon-refresh-animate': status.$getRecord('hp') == undefined
      }"> </span> </li> <li class="list-group-item">DailyKos (no spreadsheet yet)</li> <li class="list-group-item">PollingReport (too hard to scrape)</li> <li class="list-group-item">Roper (not implemented)</li> <li class="list-group-item"> <a ng-href="#/quinnipiac">Quinnipiac</a> <span class="glyphicon" ng-class="{
        'glyphicon-refresh glyphicon-refresh-animate': status.$getRecord('quinnipiac')['$value'] === 'loading',
        'glyphicon-ok text-success': status.$getRecord('quinnipiac')['$value'] === 'complete',
        'glyphicon-remove text-danger': status.$getRecord('rcp')['$value'] === 'error',
        'glyphicon-refresh glyphicon-refresh-animate': status.$getRecord('quinnipiac') == undefined
      }"> </span> </li> <li class="list-group-item">Public Policy Polling (not implemented)</li> <li class="list-group-item">Marist (not implemented)</li> <li class="list-group-item">AP (not implemented)</li> <li class="list-group-item">Gravis (not implemented)</li> <li class="list-group-item">SurveyUSA (not implemented)</li> </ul> <!-- glyphicon-remove -->