<p>

<a class="btn btn-lg btn-success" ng-click="refreshQuinnipiac()">Quinnipiac <span class="glyphicon glyphicon-download"></span></a>

<span
  class="glyphicon"
  ng-class="{
    'glyphicon-refresh glyphicon-refresh-animate': status.$getRecord('quinnipiac')['$value'] === 'loading',
    'glyphicon-ok text-success': status.$getRecord('quinnipiac')['$value'] === 'complete',
    'glyphicon-remove text-danger': status.$getRecord('quinnipiac') == undefined
  }">
</span>

</p>

<!-- <pre>{{quinnipiac | json}}</pre> -->

<h2>Quinnipiac</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Release ID</th>
      <th>Date</th>
      <th>Title</th>
      <th>States</th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="poll in quinnipiac">
      <td><a href="http://www.quinnipiac.edu/news-and-events/quinnipiac-university-poll/search-releases/search-results/release-detail?ReleaseID={{poll.id}}&What=&strArea=;&strTime=28">{{poll.id}}</a></td>
      <td>{{poll.date}}</td>
      <td>{{poll.text}}</td>
      <td>{{poll.states}}</td>
    </tr>
  </tbody>
</table>