<p><a class="btn btn-lg btn-success" ng-click="refreshQuinnipiac()">Quinnipiac <span class="glyphicon glyphicon-download"></span></a></p>

<!-- <pre>{{quinnipiac | json}}</pre> -->

<h2>Quinnipiac</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Poll</th>
      <th>Name</th>
      <th>Pollster</th>
      <th>Date</th>
      <th>Last Updated</th>
      <th>Candidates</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="question in quinnipiac">
      <td><a href="">{{question.id}}</a></td>
      <td>{{question.name}}</td>
      <td>{{question.pollster}}</td>
      <td>{{(question.start_date | date:'M/dd') + " - " + (question.end_date | date:'M/dd')}}</td>
      <td>{{question.last_updated | date:'M/dd'}}</td>
      <td><pre>{{ question.responses | pluck2:'choice':'value' | join:'\n' }}</pre></td>
    </tr>
  </tbody>
</table>