<p>

<a class="btn btn-lg btn-success" ng-click="refreshRCP()">RCP <span class="glyphicon glyphicon-download"></span></a>

<span
  class="glyphicon"
  ng-class="{
    'glyphicon-refresh glyphicon-refresh-animate': status.$getRecord('rcp')['$value'] === 'loading',
    'glyphicon-ok text-success': status.$getRecord('rcp')['$value'] === 'complete',
    'glyphicon-remove text-danger': status.$getRecord('rcp') == undefined
    }">
</span>

</p>

<!-- <pre>{{rcp | json}}</pre> -->

<h2>RCP</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Poll</th>
      <th>Name</th>
      <th>Module</th>
      <th>Module Last Build Date</th>
      <th>Pollster</th>
      <th>Date</th>
      <th>Last Updated</th>
      <th>Candidates</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="poll in rcp">
      <td>{{poll.module_poll.id}}</td>
      <td>{{poll.poll.race}}</td>
      <td><a href="{{poll.poll.link}}">{{poll.poll.poll_id}}</a></td>
      <td>{{poll.module_poll.last_build_date | date:'M/dd' }}</td>
      <td>{{poll.poll.pollster}}</td>
      <td>{{poll.module_poll.date}}</td>
      <td>{{poll.poll.date | date:'M/dd' }}</td>
      <td><pre>{{ poll.poll.candidate | pluck2:'name':'value' | join:'\n' }}</pre></td>
    </tr>
  </tbody>
</table>